<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>레시피 상세 정보</title>
</head>
<body>
    <h1>{{ recipe['title'] }}</h1>
    <h2>재료</h2>
    <h3>[재료]</h3>
    <ul>
        {% for ingredient in recipe['ingredients'] %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h3>[소스]</h3>
    <ul>
        {% for ingredient in recipe['ingredients2'] %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h2>조리 순서</h2>
    <ol>
        {% for step in recipe['steps'] %}
            <li>{{ step }}</li>
        {% endfor %}
    </ol>
</body>
</html>
